
/*===================================================
    Color Variable
====================================================*/
$red_dark_color:#9e0100;
$red_medium_color:#BB0100;
$red_color:#e91b1a;
$red_light_color:#fe3f3f;
$yellow_color:#ffb900;
$black_900_color:#111111;
$black_800_color:#282627;
$black_700_color:#333333;
$black_600_color:#4f4f4f;
$black_500_color:#7f7f7f;
$black_400_color:#bfbfbf;
$black_200_color:#ededed;
$white_color:#ffffff;






$primary_color: $red_color;
$secondary_color: #111;

$dark_color:#232323;
$light_color: #fff;
$black_color: $dark_color;
$white_color:$light_color;


$size-xs:0.5rem;   // 8px
$size-s:0.75rem;   // 12px
$size-m:1rem;      // 16px
$size-l:1.25rem;   // 20px
$size-xl:1.5rem;   // 24px

$sp_0:0rem;
$sp_1:10rem;
$sp_2:20rem;
$sp_3:30rem;
$sp_4:40rem;
$sp_5:50rem;
$sp_6:60rem;
$sp_7:70rem;
$sp_8:80rem;
$sp_9:90rem;
$sp_10:100rem;

$h1_size:$size-l;
$h2_size:18rem;
$h3_size:16rem;
$h4_size:14rem;
$h5_size:12rem;
$h6_size:8rem;


